/* Estilo Banner */

$banners-margin: 44px 343px 44px 339px;
$banners-border-radius: 15px;
$banners-gap: 43px;

.container-banners {
  margin: $banners-margin;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner1 {
    width: 603px;
    height: 602px;
    border-radius: $banners-border-radius;
    margin-right: $banners-gap;
  }

  .main-banner2-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: $banners-gap;

    .banner2,
    .banner3 {
      width: 592px;
      height: 286px;
      border-radius: $banners-border-radius;
    }

    .banner2 {
      margin-bottom: 31px;
    }
  }
}
