/* Estilo Banner */

.container-banners {
  display: flex;
  max-width: 1300px;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 130px;
  padding-inline: 4rem;
  padding-bottom: 50px;

  @media only screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .banner1 {
    width: 603px;
    height: 602px;

    @media screen and (max-width: 1370px) {
      width: 503px;
      height: 502px;
    }

    @media only screen and (max-width: 1267px) {
      width: 403px;
      height: 402px;
    }
    @media only screen and (max-width: 768px) {
      width: 350px;
      height: 350px;
    }
  }

  .main-banner2-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .banner2,
    .banner3 {
      height: 286px;
      width: 592px;
      object-fit: cover;

      @media only screen and (max-width: 1370px) {
        border-radius: 15px;
        height: 233px;
      }

      @media only screen and (max-width: 1267px) {
        height: 186px;
      }
      @media only screen and (max-width: 768px) {
        height: 155px;
        width: 350px;
        margin-left: 15px;
      }
    }

    .banner2 {
      margin-bottom: 31px;
    }
  }
}
