/* Estilo Carrosel é carrosel mobile*/
.mySwiper {
  padding: 0;
  margin: 0;
}

.container-carrosel-mobile {
  background-image: url("/back-img-carrosel.png");
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  width: 100%;
  background-size: cover;
  height: 878px;
  display: none;
  align-items: center;
  justify-content: center;


  @media only screen and (max-width: 768px) {
    display: flex;
  }
}

.container-carrosel-mobile p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 14px 51px 0px 52px;
  color: #000000;
}
.container-carrosel-mobile h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 217px;
  height: 28px;
  text-align: center;
  color: #08d40a;
  margin: 14px 99px 14px 101px;
}

.container-carrosel-mobile button {
  width: 277px;
  height: 55px;
  background: #08d40a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.container-carrosel-mobile h4 {
  margin-bottom: 30px;
  margin-top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.carrosel-saude {
  width: 380px;
  height: 752px;
  background: #ffffff;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 23px 0px 31px 30px;
  justify-content: center;
}

.carrosel-educacao {
  width: 380px;
  height: 752px;
  background: #ffffff;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 23px;
  margin: 23px 47px 31px 15px;
  justify-content: center;
}

.carrosel-conforto {
  width: 380px;
  height: 752px;
  background: #ffffff;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 23px;
  margin: 23px 23px 31px 20px;
  justify-content: center;
}

// Estilo carrosel Mobile

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    --swiper-pagination-color: #08d40a;
  }
  .container-carrosel-mobile p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }

  .container-carrosel-mobile {
    margin: 0;
    height: 1000px;
  }

  .slide-carrosel {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 100%;
  }
  .carrosel-saude,
  .carrosel-conforto,
  .carrosel-educacao {
    margin: 0 auto;
    width: 90%;
    height: 835px;
    margin-bottom: 50px;
  }
}
@media (max-width: 430px) {
  .carrosel-saude,
  .carrosel-conforto,
  .carrosel-educacao {
    margin: 0 auto;
    width: 85%;
    height: 835px;
    margin-bottom: 50px;
  }
  .container-carrosel-mobile p {
    font-size: 14px;
  }

  .slide-carrosel {
    width: 380px;
  }
}
@media (max-width: 370px) {
  .slide-carrosel {
    width: 320px;
  }
  .carrosel-saude,
  .carrosel-conforto,
  .carrosel-tecnologia,
  .carrosel-educacao {
    width: 95%;
    height: 835px;
    margin-left: 15px;
  }
}
