/* Estilo Footer*/

.container-Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #000000;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  bottom: 0;
}

.content-footer {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  padding-inline: 4rem;
  padding-block: 100px;
}

.Logo-Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-Escura {
  width: 272px;
  height: 84px;
  object-fit: cover;
  margin-bottom: 27px;
}

.Slogan {
  width: 263px;
  height: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.Contato-Footer {
  display: flex;
  flex-direction: column;
}

.logo-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Contato-Footer h2 {
  width: 263px;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #08d40a;
}

.listaContato-Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 446px;
  height: 161;

  @media only screen and (max-width: 768px){
    width: 100%;
    align-items: flex-start;
  }
}
.Contato-Footer h3 {
  width: 446px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;

  @media only screen and (max-width: 768px){
    width: 100%;
  }
}

.listaContato-Footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px;
  text-align: start;
}

.Icon-Footer {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.Icon-Footer-duvidas {
  // margin-left: 26px;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    height: 600px;
  }
  .Contato-Footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .Contato-Footer h3 {
    font-size: 14px;
    width: 220px;
  }
  .Contato-Footer h2 {
    font-size: 27px;
    margin: 30px 0px;
  }
  .Slogan {
    font-size: 20px;
    text-align: center;
  }
  .listaContato-Footer {
    width: 100%;
  }
}
