@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  &::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(239, 239, 239);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #08d40a;
    border-radius: 100vw;

    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    cursor: pointer;
  }
}

// Sections - Bruno
$cor-titulo: #08d40a;
$cor-texto: #000000;

.container__descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 330px;

  h2 {
    width: 258px;
    height: 94px;
    left: 529px;
    margin-top: 107px;
    margin-bottom: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: $cor-titulo;
    max-width: 100%;
  }

  p {
    margin-bottom: 31px;
    display: inline-block;
    font-style: normal;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $cor-texto;
    width: 347px;
    height: 56px;
  }
}

.descricao__titulo {
  position: absolute;
  width: 258px;
  height: 94px;
  left: 529px;
  top: 107px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: $cor-titulo;
}

.descricao__texto {
  position: absolute;
  width: 346337px;
  height: 56px;
  left: 484px;
  top: 225px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $cor-texto;
}

.baixe {
  // display: none;
  width: 100%;
  height: 680px;
  display: flex;
  background-image: url("/back-img-carrosel.png");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
}

.botao {
  display: inline-block;
  margin-right: 17px;
}

.container__imagem {
  width: 616px;
  // padding-top: 47px;
  max-width: 100%;
  display: flex;
  object-fit: cover;
  justify-content: center;
}

.cashback__imagem {
  width: 816px;
  height: 612px;
  padding-top: 47px;
  max-width: 100%;
  display: flex;
  position: relative; /* adicionado */

  @media screen and (max-width: 1440px) {
    width: 650px;
    margin-left: -250px;
  }
}

.silium {
  width: 296px;
  height: 178px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(7.09deg);
  position: absolute; /* adicionado */
  top: 50%; /* ajuste a posição vertical */
  left: 50%; /* centralizado na horizontal */
  margin-top: -55px; /* metade da altura da imagem do logo */
  margin-left: 30px; /* metade da largura da imagem do logo */
  z-index: 1; /* para que a imagem do logo fique em cima da imagem do notebook */
}
.cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1920px;
  height: 649px;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/mulher.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.image-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    128,
    0,
    0.5
  ); /* Change the color and opacity as needed */
  z-index: -1; /* To ensure the green background is behind the content */
}

.container__cliente {
  position: relative;
  z-index: 1;
}
.caixa__branca {
  width: 592px;
  height: 146px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 38px;
}

.container__cliente h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 00;
  font-size: 36px;
  line-height: 42px;
  max-width: 540px;

  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 39px;
}

.container__cliente h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  color: #08d40a;
}

.container__cliente p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

.container__cliente h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  text-align: center;

  color: #ffffff;
  margin-top: 39px;
}

.botao__cliente {
  align-items: center;
  width: 294px;
  height: 55px;

  margin-top: 39px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #08d40a;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

// Estilo carrosel Banners
.container-carroselBanner {
  display: none;
  height: 500px;
  max-width: 768px;
  margin-top: 150px;

  @media only screen and (max-width: 768px){
    display: block;
  }
}
.main-carroselBanner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 90%;
  margin: 0 auto;
}
.div-slide {
  width: 100%;
  height: 430px;
  margin-bottom: 25px;
}
.div-slide img {
  width: 95%;
  height: 95%;
  margin-left: 20px;
}


.container-carrosel-mobile{
  display: none;

  @media only screen and (max-width: 768px){
    display: block;
  }
}

@media (max-width: 430px) {
  .div-slide img {
    width: 95%;
    height: 85%;
    margin-left: 10px;
  }
}

// Estilo carrosel Mobile
@media (max-width: 768px) {
  .container-carrosel {
    margin: 0;
    height: 900px;
  }
  .slide-carrosel {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 768px;

    height: 100%;
  }
  .carrosel-saude,
  .carrosel-conforto,
  .carrosel-tecnologia,
  .carrosel-educacao {
    margin: 0;
    // margin-left: 200px;
    margin-bottom: 55px;
  }
}
@media (max-width: 430px) {
  .carrosel-saude,
  .carrosel-conforto,
  .carrosel-tecnologia,
  .carrosel-educacao {
    margin: 0;
    // margin-left: 210px;
    width: 45%;
    height: 100%;
    margin-bottom: 25px;
  }
}

// Media sectionApp
@media (max-width: 768px) {
  .baixe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
  }
  .container__descricao {
    margin: 0px;
    margin-top: 60px;
  }
  .container__descricao h2 {
    margin-top: 10px;
  }
  .container__imagem img {
    width: 517px;
    height: 388px;
    margin-top: 39px;
  }
  .container__descricao > div > img {
    width: 141px;
    height: 43px;
  }
}
// Media sectionCalculadora
@media (max-width: 768px) {
  .container-calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .container-calculadora .button > button {
    margin-top: 50px;
  }
}
// Media section cashback
@media (max-width: 768px) {
  .silium {
    display: none;
  }
  .cashback__imagem {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  #baixeApp {
    height: 950px;
  }
}
@media (max-width: 430px) {
  .notebook {
    width: 450px;
    height: 500px;
  }
  #baixeApp {
    height: 800px;
  }
}

// Media section Cliente
@media (max-width: 430px) {
  .container__cliente h2 {
    width: 345px;
    height: 56px;
    font-size: 24px;
  }
  .cliente {
    width: 100%;
    height: 460px;
  }
  .caixa__branca {
    width: 280px;
    height: 84px;
  }
  .container__cliente h1 {
    font-size: 24px;
  }
  .container__cliente p {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .container__cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .container__cliente h3 {
    font-size: 16px;
  }
}
