@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}
:root {
  &::-webkit-scrollbar {
    width: 0.25rem;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(239, 239, 239);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #08d40a;
    border-radius: 100vw;

    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    cursor: pointer;
  }
}
