.container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 100%;
}

.bg {
  width: 700px;
  height: 100%;
  border-radius: 0px 60px 60px 0px;
  background-image: url("/homem.png");
}

.ImageContainer {
  background-color: rgba(8, 212, 10, 0.17);
  width: 700px;
  height: 100vh;
  border-radius: 0px 60px 60px 0px;
  box-shadow: 8px 0px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.logo {
  padding: 2.5rem;
}

.LoginContainer {
  width: 531;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  margin: 4rem;
}

.Login {
  display: flex;
  flex-direction: column;
  width: 531px;
  margin-top: 4rem;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  width: 347px;
  height: 22px;
  top: 103px;
  margin-bottom: 4.3rem;
}

.label {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: medium;
  color: rgba(153, 153, 153, 1);
  margin-bottom: 8px;
  margin-top: 12px;
}

.field {
  width: 90%;
  height: 2rem;
  padding-left: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f6f7fa;
  border-radius: 10px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(177, 177, 177, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button {
  width: 90x;
  height: 79px;
  margin-top: 1rem;
  border-radius: 20px;
  background: rgba(8, 212, 10, 1);
  border: 0;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.linha {
  border: 1px solid rgba(177, 177, 177, 1);
  margin-top: 6rem;
  width: 100%;
}

.logo2 {
  width: 235px;
  height: 74px;
  margin-top: 4rem;
  margin: 8rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valuePrice {
  font-family: Outfit;
  font-size: 26px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
}

.Group {
  width: 531px;
  display: flex;
  align-items: center;
}

.form {
  width: 50%;
  margin-right: 1rem;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding-left: 2%;
  padding-top: 7%;

  align-items: center;
  justify-content: center;
}
