.policyText {
  display: flex;
  flex-direction: column;

  padding-top: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;

  padding-bottom: 10rem;

  align-items: center;
  text-align: center;

  gap: 3rem;
}
