.container-cadastroLogin {
  width: 100%;
  position: relative;
  top: 99px;
  height: 1350px;
  background: #ffff;
}
.cadastro-login-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.cadastro-img {
  background-image: url("/background-homemFeliz.png");
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  width: 50%;
  height: 100%;
  background-size: cover;
}
.cadastro-clube {
  width: 50%;
  height: 100%;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro-form {
  width: 75%;
  height: 1200px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.logo-slogan {
  width: 100%;
  height: 15%;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo-slogan img {
  width: 220px;
  height: 80px;
  object-fit: contain;
  margin-top: 45px;
}
.logo-slogan h2 {
  width: 353px;
  height: 65px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.cadastro-input {
  width: 100%;
  height: 85%;
  margin-top: 35px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inf-input {
  width: 80%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inf-input label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  margin-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
}
.inf-input label input,
select {
  width: 100%;
  height: 50px;
  background: #f1f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}

.city {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.city .cidade {
  width: 70%;
  margin-left: 5%;
}
.city label {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: auto;
  margin-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
}
form button {
  width: 100%;
  height: 50px;
  background: #08d40a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
// Component senha
.password-input {
  position: relative;
  width: 100%;
}

.password-input .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 1850px) {
  .city .cidade {
    margin-top: 5px;
  }
}

// Media telas maiores
@media (max-width: 1000px) and (min-width: 768px) {
  .logo-slogan img {
    width: 170px;
    height: 70px;
  }
  .logo-slogan h2 {
    font-size: 16px;
    margin-top: 15px;
    width: 300px;
  }
}

// Media mobile

@media (max-width: 768px) {
  .cadastro-img {
    display: none;
  }
  .cadastro-clube {
    width: 100%;
    height: 100%;
  }
  .container-cadastroLogin {
    height: 1250px;
  }
  .cadastro-input {
    height: 83%;
  }
  form {
    height: 100%;
  }
  .cadastro-form {
    height: 1150px;
  }
}
@media (max-width: 490px) {
  .logo-slogan img {
    width: 190px;
    height: 50px;
  }
  .logo-slogan h2 {
    width: 250px;
    font-size: 13px;
  }
}
