#headerLogin {
  display: flex;
  height: 70px;
}

@media (max-width: 768px) {
  #headerLogin {
    flex-direction: row-reverse;
  }

  #headerLogin img {
    margin: 0;
  }

  #headerLogin img {
    margin: 0;
    padding-right: 35px;
  }

  #headerLogin > .nav-toggle {
    margin: 0;
    padding-left: 35px;
  }

  #itemsDrawer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding-left: 60px;
  }

  #item {
    text-align: left;
    padding-left: 30px;
    color: #939393;
  }

  .Login {
    width: 220px;
    height: 65px;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
  }
}

a {
  color: #939393;
}
