.container-section-calculadora {
  position: relative;
  background-image: url("/back-calculadora.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 58px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,
        128,
        0,
        0.5); // Adjust the last value (0.4) to control the opacity of the green overlay
    z-index: 1;
  }
}

.container-calculadora {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  max-width: 1300px;
  margin-inline: auto;
}

.text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  text-align: center;
  width: 320px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  color: #08d40a;
}


// Media sectionCalculadora
@media (max-width: 768px) {
  .container-section-calculadora {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/back768px.png");
    height: 100%;
  }

  .container-calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .container-calculadora .button>button {
    width: 320px;
    height: 55px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .container-calculadora h2 {
    width: 340px;
    height: 92px;
    left: 116px;
    top: 60px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 45px;
  }



}

@media (max-width: 430px) {
  .container-calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
  }

}